body{
    font-family: "맑은 고딕", "고딕", "굴림"
}

header{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #375f95;  
    padding: 10px;
    overflow: hidden;
}

header h1{
    width:40%;
    float: left;
    color:#fff;
    font-size: 40px
    }

header nav{
    width: 60%;
    float:right;
    font-size: 25px
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display:  inline;
    float: left;
    margin: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 20px;
    line-height: 20px;
}

section {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #a8a8a8;
    padding: 5px;
   
}

footer{
     width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding:10px;
    background-color: #a8a8a8;
    color:white;
    text-align: : center;
    
}

ul{
    list-style-type: circle;
}

@font-face{
    font-family: 나눔손글씨 나무정원;
    src:url('나눔손글씨 나무정원.ttf');
    font-weight: normal;}

@font-face{
    font-family: 나눔손글씨 소미체;
    src:url('나눔손글씨 소미체.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 서울남산 장체L;
    src:url('서울남산 장체L.ttf');
    font-weight: bolder;
}

header{
    font-family: 서울남산 장체L;
    word-spacing: 0.3em;
}

body{
    font-family: 서울남산 장체L;
}

.medium{
    color: #7e5b55;
    font-weight: bold;
    font-size:xx-large;
    word-spacing: 0.3em;
    text-decoration: underline;
    text-align: center;
}

.small{
     font-weight: bold;
    font-family: 나눔손글씨 나무정원;
    text-align: center
    font-size: 50px;
    word-spacing: 0.3em;

}

.large{
    font-family:서울남산 장체L;
    font-size:50px;
    text-align: center;

    letter-spacing: 0.3em;
    

}


.xx-large{
    font-family:서울남산 장체L;
    font-size: large;
    text-align: justify;
    text-decoration: underline overline;
    line-height: 170%;
}

h1{
    font-variant: : small-caps;
    text-align:center;
}




.shadow1{
    text-shadow: 1px 1px 8px #ffcfa6;
}

.shadow2{
    text-shadow:  0px -5px 4px #ffbea1, 2px -10px 6px #aa8675, 2px -20px 19px #ff9191
}




table{
    width 800px;
    border: 0px solid white;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px
}
td{
    border:1px solid whote;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}




   

a{
    text-decoration: none;
    color:black;
}




    
    
